/* common styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: top;
}
html {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  color: #d1fffd;
  font-size: 16pt;
}

p {
  text-indent: 20pt;
  margin-bottom: .5rem;
}
label {
  cursor: pointer;
  display: inline-block; /* ie10 hack */
}
a {
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  text-decoration: underline;
}

.switcher { /* hidden radio input to switch state */
  display: none;
}

body:before {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  bottom: -100px;
  left: 0;
  background-color: #0097a9;
  background: linear-gradient(to bottom right, #008395, #00d8e9) #0097a9;
}
