/* page grid styles */
.grid {
  position: absolute;
  display: flex;
  flex-direction: row;
  min-height: 100%;
  height: 100%; /* ie hack */
  width: 100%;

  &-main {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 800px;
    flex-shrink: 1; /* ie10 hack */

    &-oldbrowser {
      background-color: #ffff99;
      font-size: .7rem;
      color: #484848;
      text-align: center;
      font-family: monospace, sans-serif;
      padding: 10px;
    }

    &-content {
      padding-bottom: 50px;
      flex-grow: 1;
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }

    &-footer {
      height: 1.4rem;
      line-height: 1.4rem;
      margin-top: -1.4rem;
      border-color: #7de6ff;
      border-style: solid;
      border-width: 2px 1px 0 1px;
      border-radius: 4px 4px 0 0;
      font-size: .7rem;
      text-align: center;
    }
  }

  &-left,&-right {
    flex-grow: 1;
  }
}
