/* page grid styles */
.lang {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;

  &-icon {
    width: 18px;
    height: 12px;
    margin-left: 25px;
    opacity: 0.3;

    &-ru { background: url("../img/lang.png") no-repeat -36px 0; }
    &-en { background: url("../img/lang.png") no-repeat 0 0; }
    &-es { background: url("../img/lang.png") no-repeat -18px 0; }
  }
}

#lang-sw-ru:checked ~ * .lang-icon-ru,
#lang-sw-en:checked ~ * .lang-icon-en,
#lang-sw-es:checked ~ * .lang-icon-es {
  opacity: 1;
}
