.menu {
  display: flex;
  line-height: 30px;
  border: 1px solid #66b9e5;
  border-radius: 30px;
  overflow: hidden;
  border-top-width: 2px;

  &-item {
    border-right: 1px solid #66b9e5;
    padding: 0px 15px;
    flex-grow: 1;
    &:last-child {
      border-right: none;
    }
  }
}

#pageSwitcherAbout:checked ~ * label[for=pageSwitcherAbout],
#pageSwitcherEvo:checked ~ * label[for=pageSwitcherEvo],
#pageSwitcherSkills:checked ~ * label[for=pageSwitcherSkills],
#pageSwitcherPhotos:checked ~ * label[for=pageSwitcherPhotos] {
  background-color: rgb(0, 148, 169);
}
