/* mobile menu styles */
.mobilemenu {
  &-button {
    position: absolute;
    right: 0;
    top: 5px;
    height: 32px;
    width: 32px;
    background: url("../img/menu.svg") center no-repeat;
    background-size: contain;
    display: none;
    opacity: .5;

  }

  &-popup {
    display: flex;
    position: absolute;
    background-color: #008395;
    min-width: 200px;
    flex-direction: column;
    padding: 5px;
    right: 0;
    transition: transform ease-out .3s;
    transform: translateY(-110%);
    box-shadow: 1px 1px 5px -1px black;
    z-index: 1;
  }

  &-button:hover ~ &-popup {
    transform: translateY(0);
    transition: transform ease-in .5s .3s;
  }

  &-item, &-space {
    padding: 5px 5px;
    &:not(:last-child) {
      border-bottom: 1px solid #66b9e5;
    }
  }

  &-item-lang::before {
    content: '';
    height: 10px;
    width: 10px;
    display: inline-block;
    border-radius: 10px;
    margin-right: 10px;
  }
}

#lang-sw-ru:checked ~ * .mobilemenu-item-lang-ru::before,
#lang-sw-en:checked ~ * .mobilemenu-item-lang-en::before,
#lang-sw-es:checked ~ * .mobilemenu-item-lang-es::before {
  background-color: #d1fffd;
}
