/* page grid styles */
.page {
  &-head {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px;

    &-header {
      height: 20px;
      position: relative;
    }

    &-info {
      display: flex;
      flex-direction: row;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;

      &-face {
        height: 160px;
        width: 160px;
        border-radius: 50%;
        background-image: url("../img/face.jpg");
        background-repeat: no-repeat;
        background-size: contain;
      }

      &-welcome {
        font-family: "Comic Sans MS", sans-serif;
        text-align: right;
        font-size: 1.4rem;
        flex-grow: 1;
        font-weight: 400;
        white-space: pre-wrap;
      }
    }
  }

  &-menuline {
    height: 50px;
    text-align: center;
    padding-left: 200px;
  }

  &-article {
    opacity: 0;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    width: 100%;
    background-color: #0090a3;
    border-radius: 3px;
  }
}

#pageSwitcherAbout:checked ~ .article-about,
#pageSwitcherEvo:checked ~ .article-evo,
#pageSwitcherSkills:checked ~ .article-skills,
#pageSwitcherPhotos:checked ~ .article-photos {
  opacity: 1;
  height: auto;
  visibility: visible;
  transition: opacity 1s;
  padding: 10px 5px 5px;
  margin-top: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
