@import (reference) "mixins/photos";
@photos-path: "../img/photos/small";

#photos-full-mode-sw:checked ~ .photo-slider {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

:checked ~ * .photo-slider-image {
  .photos-images;
}
