/* screen border space */
@media screen and (max-width:810px) {
  .grid {
    padding: 0 10px;
  }
  .page-head-info-face {
    height: 140px;
    width: 140px;
  }
  .page-menuline {
    padding: 10px 0 0 0;
  }
}
/* mobile menu for mobile devices */
@media screen and (max-width:540px), screen and (max-height:480px) and (max-width:810px) {
  .page-menuline, .lang {
    display: none;
  }
  .mobilemenu-button {
    display: block;
  }
  .page-head-info-welcome {
    text-align: left;
    font-size: 1.3rem;
    padding-left: 20px;
  }
  .page-head {
    padding: 0;
  }
}
/* small head text and icon */
@media screen and (max-width:568px) {
  .page-head-info-face {
    height: 110px;
    width: 110px;
  }
  .page-head-info-welcome {
    font-size: 1.2rem;
  }
  .photo-description {
    font-size: .8rem;
  }
}
/* micro head text and icon */
@media screen and (max-width:413px) {
  .page-head-info-welcome {
    font-size: 1.1rem;
  }
  .page-head-info-face {
    height: 90px;
    width: 90px;
  }
  .photo-description {
    font-size: .7rem;
  }
  .grid-main-footer {
    height: 2.4rem;
    line-height: 2.4rem;
    margin-top: -2.4rem;
  }
}
/* nano head text and icon */
@media screen and (max-width:360px) {
  .page-head-info-face {
    height: 70px;
    width: 70px;
  }
  html {
    font-size: 12pt;
  }
}
