#lang-sw-en:checked ~ * {
  
  & .page-oldbrowser::before {
    content: 'You are using very old browser. The pages may look bad and odd. Upgrade your browser version or use modern browsers.';
  }
  & .page-head-info-welcome::before {
    content: 'Stanislav Zhbanov\a Front-End Developer';
  }
  & label[for=pageSwitcherAbout]::before {
    content: 'About';
  }
  & label[for=pageSwitcherEvo]::before {
    content: 'Evolution';
  }
  & label[for=pageSwitcherSkills]::before {
    content: 'Skills';
  }
  & label[for=pageSwitcherPhotos]::before {
    content: 'Photos';
  }

  & .article-about-text-1::before {
    content: 'Hello! My name is Stanislav.';
  }
  & .article-about-text-2::before {
    content: 'I am a front-end developer in my soul and a full-stack developer in reality. I like building user interfaces but I often successfully work as a back-end developer.';
  }
  & .article-about-text-3::before {
    content: 'I have worked on my own in a small subdivision of a university and as part of a product team in an IT company. I am interested in teamwork practices and real Agile adoption experience of different companies.';
  }
  & .article-about-text-4::before {
    content: 'My knowledge of English allows me to read technical documentation, to correspond with colleagues and communicate in the present simple and past simple tenses ). I learn Spanish for pleasure and I can read adapted books.';
  }
  & .article-about-text-5::before {
    content: 'My hobby is building rс aircraft models and flying them!';
  }

  & .sort-button::before {
    content: 'order';
  }

  & .evo-text-school::after {
    content: 'School...';
  }

  & .evo-text-university::after {
    content: 'I graduated with a Diploma of Higher Education in Software Engineering.';
  }

  & .evo-text-init-1::after {
    content: 'I started my career in the University. I worked for the Distance Learning Department.';
  }
  & .evo-text-init-2::after {
    content: 'My duties:\a- information system support and development (student records, payments, etc);\a- laying network cables;\a- setting up computers.';
  }
  & .evo-text-init-3::after {
    content: 'My achievements:\a- developed a website of the Department;\a- developed a Virtual Library website for distance learning students;\a- developed a small CRM called Remote Consulting for a question-answer communication with teachers;\a- developed a Student Testing System.';
  }

  & .evo-text-ps-1::before {
    content: 'When I felt ready to change my life I moved to Saint-Petersburg and applied for a job with Peter-Service that develops billing systems and software for telecom operators.';
  }
  & .evo-text-ps-2::before {
    content: 'Projects:\a- B2C portal for subscribers of a telecom operator;\a- mobile app for subscribers of a telecom operator (iOs);\a- B2B portal for corporate users of a telecom operator.';
  }
  & .evo-text-ps-3::before {
    content: 'My duties:\a- writing technical specifications for new product features;\a- bug fixing and code refactoring;\a- developing user interfaces and interactive components;\a- developing back-end modules of the product.';
  }
  & .evo-text-ps-4::before {
    content: 'My achievements:\a- implemented rich UI components in the B2C portal;\a- developed the main js and visual components in the B2B portal;\a- adopted and implemented javascript unit testing with Jasmine Test Framework.';
  }

  & #photos-image-sw-1:checked ~ .photo-description::before {
    content: 'Mobile app for a telecom operator (MVP).\a Main menu';
  }
  & #photos-image-sw-2:checked ~ .photo-description::before {
    content: 'Mobile app for a telecom operator (MVP).\a Monthly Expenses by Categories';
  }
  & #photos-image-sw-3:checked ~ .photo-description::before {
    content: 'Mobile app for a telecom operator (MVP).\a Detailed Monthly Expenses by Categories';
  }
  & #photos-image-sw-4:checked ~ .photo-description::before {
    content: 'IOS app Electronica.\a Fox and Eggs Game';
  }
  & #photos-image-sw-5:checked ~ .photo-description::before {
    content: 'IOS app Electronica.\a Spaceport Game';
  }
  & #photos-image-sw-6:checked ~ .photo-description::before {
    content: 'IOS app for restaurant';
  }
  & #photos-image-sw-7:checked ~ .photo-description::before {
    content: 'Web components of the B2B portal\a (it is not all of course)';
  }
  & #photos-image-sw-8:checked ~ .photo-description::before {
    content: 'I love nature and cycling';
  }
  & #photos-image-sw-9:checked ~ .photo-description::before {
    content: 'My Spain';
  }
  & #photos-image-sw-10:checked ~ .photo-description::before {
    content: 'I love the sky';
  }
  & #photos-image-sw-11:checked ~ .photo-description::before {
    content: 'Adults also need toys )';
  }
  & #photos-image-sw-12:checked ~ .photo-description::before {
    content: 'In aviation, as in life, there are ups and downs, risks and repairs';
  }
  & #photos-image-sw-13:checked ~ .photo-description::before {
    content: 'I always have pocket money on sweets for friends :)';
  }
}
