#lang-sw-es:checked ~ * {
  
  & .page-oldbrowser::before {
    content: 'Estás usando navegador muy antiguo. Las páginas pueden ser no bien. Actualice la versión de navegador o utilice un navegador moderno.';
  }
  & .page-head-info-welcome::before {
    content: 'Stanislav Zhbanov\a Front-End Developer';
  }
  & label[for=pageSwitcherAbout]::before {
    content: 'Sobre mí';
  }
  & label[for=pageSwitcherEvo]::before {
    content: 'Evolución';
  }
  & label[for=pageSwitcherSkills]::before {
    content: 'Habilidades';
  }
  & label[for=pageSwitcherPhotos]::before {
    content: 'Fotos';
  }

  & .article-about-text-1::before {
    content: '¡Hola! Mi nombre es Stanislav.';
  }
  & .article-about-text-2::before {
    content: 'Soy programador UI en mi alma pero programador full stack en la realidad. Me gusta crear interfaces de usuario pero a menudo trabajo como programador back-end.';
  }
  & .article-about-text-3::before {
    content: 'Tengo experiencia en trabajo independiente en la subdivisión de una universidad y trabajo en equipo en el empresa de IT. Me gusta leer historias sobre aplicación práctica de la metodología Agile porque me interesa mucho.';
  }
  & .article-about-text-4::before {
    content: 'Mi nivel de inglés me permite leer documentación técnica y los artículos, mantener correspondencia con los colegas y comunicarme com ellos en el presente simple y el pretérito indefinido. Estoy aprendiendo español porque me gusta. Leo los libros adaptados.';
  }
  & .article-about-text-5::before {
    content: '¡Mi afición es construir modelos de avión y pilotarlos!';
  }

  & .sort-button::before {
    content: 'orden';
  }

  & .evo-text-school::after {
    content: 'Escuela...';
  }

  & .evo-text-university::after {
    content: 'Me gradué con un Diploma de Educación Superior en Ingeniería de Software.';
  }

  & .evo-text-init-1::after {
    content: 'Empecé mi carrera en la Universidad. Trabajé para el Departamento de Educación a Distancia.';
  }
  & .evo-text-init-2::after {
    content: 'Mis deberes:\a- apoyar y desarrollar el sistema de información (registro de los estudiantes, pago, etc.);\a- tender la red;\a- instalar software en los ordenadores.';
  }
  & .evo-text-init-3::after {
    content: 'Mis logros:\a- elaboré un sitio web del Departamento;\a- elaboré un sitio web de Biblioteca Virtual para los estudiantes de educación a distancia;\a- elaboré un CRM llamado Remote Consulting para una comunicación de preguntas y respuestas con los profesores;\a- elaboré un sistema de pruebas para los estudiantes.';
  }

  & .evo-text-ps-1::before {
    content: 'Un día, decidí cambiar mi vida y me trasladé a San-Petersburgo donde empecé a trabajar para Peter-Service. Es una empresa IT que está desarrollando unos sistemas de facturación y el software para los operadores de telecomunicaciones.';
  }
  & .evo-text-ps-2::before {
    content: 'Los proyectos:\a- portal B2C para los abonados del operador;\a- aplicación móvil para los abonados del operador (iOs);\a- portal B2B para usuarios corporativos.';
  }
  & .evo-text-ps-3::before {
    content: 'Mis deberes:\a- escribir las especificaciones técnicas para el desarrollo de la funcionalidad;\a- refactoring y corrección de errores;\a- elaborar interfaces de usuario y componentes interactivos;\a- elaborar módulos back-end del producto.';
  }
  & .evo-text-ps-4::before {
    content: 'Mis logros:\a- implementé componentes ricos de IU en el portal B2C;\a- elaboré los componentes principales js y los visuales en el portal B2B;\a- aprendí y apliqué pruebas unitarias de javascript con el Jasmine Test Framework.';
  }

  & #photos-image-sw-1:checked ~ .photo-description::before {
    content: 'Aplicación móvil para un operador.\a Menú principal';
  }
  & #photos-image-sw-2:checked ~ .photo-description::before {
    content: 'Aplicación móvil para un operador.\a Gastos mensuales por categorías';
  }
  & #photos-image-sw-3:checked ~ .photo-description::before {
    content: 'Aplicación móvil para un operador.\a Gastos mensuales detallados por categoría';
  }
  & #photos-image-sw-4:checked ~ .photo-description::before {
    content: 'Aplicación IOS.\a Electrónica. Juego de Fox y el Huevo';
  }
  & #photos-image-sw-5:checked ~ .photo-description::before {
    content: 'Aplicación IOS.\a Electrónica. Juego de Cosmódromo';
  }
  & #photos-image-sw-6:checked ~ .photo-description::before {
    content: 'Aplicación IOS para un restaurante';
  }
  & #photos-image-sw-7:checked ~ .photo-description::before {
    content: 'Componentes del portal B2B\a (no es todo, por supuesto)';
  }
  & #photos-image-sw-8:checked ~ .photo-description::before {
    content: 'Me encanta la naturaleza y montar en bici.';
  }
  & #photos-image-sw-9:checked ~ .photo-description::before {
    content: 'Mi España';
  }
  & #photos-image-sw-10:checked ~ .photo-description::before {
    content: 'Una cometa. ¡Casi un avión! :)';
  }
  & #photos-image-sw-11:checked ~ .photo-description::before {
    content: '¡Los adultos también necesitan juguetes! :)';
  }
  & #photos-image-sw-12:checked ~ .photo-description::before {
    content: 'En la aviación, como en la vida, hay altibajos, riesgos y reparaciones';
  }
  & #photos-image-sw-13:checked ~ .photo-description::before {
    content: '¡Siempre tengo dinero de bolsillo para comprar dulces a mis amigos! :)';
  }
}
