#lang-sw-ru:checked ~ * {
  
  & .page-oldbrowser::before {
    content: 'Вы используете старый браузер, поэтому страницы могут отображаться с ошибками. Пожалуйста, обновите его или используйте более современный.';
  }
  & .page-head-info-welcome::before {
    content: 'Станислав Жбанов\a Frontend Developer';
  }
  & label[for=pageSwitcherAbout]::before {
    content: 'Обо мне';
  }
  & label[for=pageSwitcherEvo]::before {
    content: 'Эволюция';
  }
  & label[for=pageSwitcherSkills]::before {
    content: 'Навыки';
  }
  & label[for=pageSwitcherPhotos]::before {
    content: 'Альбом';
  }

  & .article-about-text-1::before {
    content: 'Привет! Мое имя Станислав.';
  }
  & .article-about-text-2::before {
    content: 'Я - frontend разработчик душой и full-stack разработчик в реальности. Мне нравится создавать пользовательские интерфейсы, но для решения производственных задач я часто выступаю в роли backend разработчика.';
  }
  & .article-about-text-3::before {
    content: 'Имею опыт самостоятельной работы в небольшом отделе учебного заведения и опыт работы в продуктовой команде IT компании. Интересуюсь практиками командной работы и реальным опытом внедрения различными компаниями Agile методологий.';
  }
  & .article-about-text-4::before {
    content: 'Знаю английский на уровне чтения документации и статей, могу вести переписку и общаться в настоящем и простом прошедшем времени. Испанский изучаю ради удовольствия, читаю адаптированные художественные книги.';
  }
  & .article-about-text-5::before {
    content: 'Мое хобби - это сборка и пилотаж радиоуправляемых авиамоделей!';
  }

  & .sort-button::before {
    content: 'порядок';
  }

  & .evo-text-school::after {
    content: 'Школа...';
  }

  & .evo-text-university::after {
    content: 'Закончил университет с получением диплома о высшем образовании с присуждением квалификации "Инженер по специальности Программное обеспечение вычислительной техники и автоматизированных систем".';
  }

  & .evo-text-init-1::after {
    content: 'Начал работать еще в университете, в подразделении, которое специализировалось на предоставлении образовательных услуг для студентов заочной формы обучения.';
  }
  & .evo-text-init-2::after {
    content: 'Что делал:\a- участвовал в поддержке и развитии информационной системы (учет студентов, оплата и прочее);\a- прокладывал сети и настраивал комьютеры в классах.';
  }
  & .evo-text-init-3::after {
    content: 'Что сделал:\a- разработал сайт подразделения;\a- разработал сайт "Виртуальная библиотека" для студентов заочной формы обучения;\a- разработал небольшой CRM "Консультации" (вопрос-ответ с преподавателями);\a- разработал систему тестирования студентов.';
  }

  & .evo-text-ps-1::before {
    content: 'Когда мне стало тесно в родном городке, я переехал в Санкт-Перебург, где устроился в компанию ПЕТЕР-СЕРВИС, которая занимается разработкой биллинговой системы и программного обеспечения для операторов связи.';
  }
  & .evo-text-ps-2::before {
    content: 'Участвовал в проектах:\a- B2C портал для абонентов оператора связи;\a- мобильное приложение для абонентов оператора связи (iOs);\a- B2B портал для корпоративных пользователей.';
  }
  & .evo-text-ps-3::before {
    content: 'Что делал:\a- участвовал в написании технических спецификаций на разработку функциональности;\a- исправлял ошибки и рефакторил код;\a- разрабатывал пользовательские интерфейсы и интерактивные компоненты;\a- разрабатывал backend модули системы.';
  }
  & .evo-text-ps-4::before {
    content: 'Что сделал:\a- внедрил визуальные компонеты интерфейса в стиле RichUI в B2C портал;\a- разработал основные js и визуальные компоненты для B2B портала;\a- освоил и внедрил тестирование js кода с помощью Jasmine.';
  }

  & #photos-image-sw-1:checked ~ .photo-description::before {
    content: 'Приложение для оператора связи (MVP).\aОсновное меню';
  }
  & #photos-image-sw-2:checked ~ .photo-description::before {
    content: 'Приложение для оператора связи (MVP).\aРасходы за месяц по категориям';
  }
  & #photos-image-sw-3:checked ~ .photo-description::before {
    content: 'Приложение для оператора связи (MVP).\aДетализация расходов за месяц по категории';
  }
  & #photos-image-sw-4:checked ~ .photo-description::before {
    content: 'IOS приложение Электроника.\aИгра Лиса и Яйца';
  }
  & #photos-image-sw-5:checked ~ .photo-description::before {
    content: 'IOS приложение Электроника.\aИгра Космодром';
  }
  & #photos-image-sw-6:checked ~ .photo-description::before {
    content: 'IOS приложение для сети ресторанов';
  }
  & #photos-image-sw-7:checked ~ .photo-description::before {
    content: 'Web компоненты B2B портала\a(это не все, конечно)';
  }
  & #photos-image-sw-8:checked ~ .photo-description::before {
    content: 'Люблю природу и езду на велосипеде.\aОсобенно езду на велосипеде по природе :)';
  }
  & #photos-image-sw-9:checked ~ .photo-description::before {
    content: 'Моя Испания';
  }
  & #photos-image-sw-10:checked ~ .photo-description::before {
    content: 'С годами страсть к полетам не проходит';
  }
  & #photos-image-sw-11:checked ~ .photo-description::before {
    content: 'Взрослым тоже нужны игрушки )';
  }
  & #photos-image-sw-12:checked ~ .photo-description::before {
    content: 'В авиации, как и в жизни, бывают взлеты и падения, ремонты и эксперименты';
  }
  & #photos-image-sw-13:checked ~ .photo-description::before {
    content: 'У меня всегда найдется мелочь на вкусняшки для друзей )';
  }
}
