@photos-path: "";
@photos-load-indicator-url: "../img/loading.svg";

.photos-img(@file) {
  background-image: url("@{photos-path}/@{file}"), url("@{photos-load-indicator-url}");
}

.photos-images {
  #photos-image-sw-1&  { .photos-img("IMG_110.jpg"); }
  #photos-image-sw-2&  { .photos-img("IMG_120.jpg"); }
  #photos-image-sw-3&  { .photos-img("IMG_130.jpg"); }
  #photos-image-sw-4&  { .photos-img("IMG_140.jpg"); }
  #photos-image-sw-5&  { .photos-img("IMG_150.jpg"); }
  #photos-image-sw-6&  { .photos-img("IMG_160.jpg"); }
  #photos-image-sw-7&  { .photos-img("IMG_170.jpg"); }
  #photos-image-sw-8&  { .photos-img("IMG_210.jpg"); }
  #photos-image-sw-9&  { .photos-img("IMG_220.jpg"); }
  #photos-image-sw-10& { .photos-img("IMG_310.jpg"); }
  #photos-image-sw-11& { .photos-img("IMG_320.jpg"); }
  #photos-image-sw-12& { .photos-img("IMG_330.jpg"); }
  #photos-image-sw-13& { .photos-img("IMG_410.jpg"); }
}
