.article-evo {
  display: flex;
  flex-direction: column;
}
.evo-sorter-line {
  text-align: right;
  font-size: .6rem;
}
.evo-sorter-line::after {
  content: '\2193';
}
#evo-sorter:checked ~ .article-evo {
  flex-direction: column-reverse;
}
#evo-sorter:checked ~ * .evo-sorter-line {
  order: 1;
}
#evo-sorter:checked ~ * .evo-sorter-line::after {
  content: '\2191';
}

.evo-block {
  overflow: auto;
  margin: 10px 0;
}

/* images */
.evo-img {
  text-align: center;
}
.evo-img::before {
  content: '';
  width: 50px;
  height: 50px;
  display: inline-block;
}
.evo-img-school::before {
  background: url("../img/evo.png") no-repeat 0 0;
}

.evo-img-university::before {
  background: url("../img/evo.png") no-repeat -50px 0;
}

.evo-img-init::before {
  background: url("../img/evo.png") no-repeat -100px 0;
}

.evo-img-ps::before {
  background: url("../img/evo.png") no-repeat -150px 0;
}

/* text */
.evo-text {
  white-space: pre-line;
}
